<div data-role="view" data-title="list Gifts" data-layout="main" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow">

        <div data-role="scrollview"
        data-source="app.home.data"
        data-template="scrollview-template"
        data-content-height="300px"
         id ="scrollview1">
   		 </div>
       <!--
    <ul data-role="listview" data-source="app.home.data5" data-template="books-template"></ul>  
    -->
     <script type="text/x-kendo-template" id="books-template">
        <a href="components/detailsgifts/view.html?id=#: id #">
            <div>#: required_points #</div>
            <div>#: id #</div>
            <div>#: end_date #</div>
            <div><img style="width:80%;" src="data:image/png;base64,#: image_mobile #" /></div>
            <div>#: name #</div>
        </a>
     </script>
    
       <script type="text/x-kendo-template" id="scrollview-template">
            <img style="width:80%;" src="data:image/png;base64,#: image_mobile #" />
     </script>
    
    
    <!--
    <div id="view2">
    <input data-bind="value: inputValue" />
    <textarea data-bind="value: textareaValue"></textarea>
	</div>
    
    <div id="listli"></div>
-->
    <script id="tmp" type="text/x-kendo-template">
    <p>#: name # </p>
    <img src="data:image/png;base64,#: image_small #" />
   </script>
    
<div id="scrollView"></div>
       
       

</div>